@keyframes scroll-anim {
  100% {
    background-position: -100% 0;
  }
}

.scrolling-background-container {
  position: relative;
  width: 100vw;
  height: 650px; // Increase this value for a taller image
  overflow: hidden;
}

.scrolling-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw; 
  height: 100%;
  background: url('/footer/Hoardings.png') repeat-x;
  background-size: cover; 
  animation: scroll-bg 20s linear infinite;
  z-index: 1;
}

@keyframes scroll-bg {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50vw); }
}

.staticImages {
  position: absolute;
  top: 238px;
  left: -272px;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.staticImage {
  // Any additional styling for your static image
}
