.backgroundSection {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('/footer/bg_img3.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.scrollingImages {
  position: absolute;
  top: 73%;
  left: 0;
  display: flex;
  gap: 30px;
  animation: scroll-left 70s linear infinite;
  white-space: nowrap;

  .trainImage {
    height: 120px;
    width: auto;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
